<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
  </head>
  <body>

    <div id="app">
      <form @submit.prevent="submitForm()">
        <p v-if="errors.length">
          <b>Please corretct the following errors :</b>
          <ul>
            <li v-for="error in errors">{{ error }}</li>
          </ul>
        </p>
        <label>Name</label><br>
        <input type="text" :disabled="buttonStatus == 'upload'" name="name" ref="name" v-model="name"><br>
        
        
        <label>Address</label><br>
        <textarea name="address" :disabled="buttonStatus == 'upload'" ref="address" v-model="address"></textarea><br>
        
        <label>No Hp :</label><br>
        <input type="text" name="no_hp" :disabled="buttonStatus == 'upload'" ref="no_hp" v-model="no_hp"><br>
        
        <div v-if="buttonStatus =='submit'">
          <input type="submit" value="submit">
        </div>
        <div v-else-if="buttonStatus =='update'">
          <input type="button" @click="updateData(idUpdate)" value="update">
          <input type="button" value="cancel" @click="clearForm" style="margin-top: 5px;">
        </div>
        <div v-else-if="buttonStatus =='upload'">
          <input type="file"name="photo_profile" ref="photo_profile" style="margin-top: 5px; margin-bottom: 5px;"><br>
          <input type="button" value="upload" @click="submitPhoto(idUpload)" style="margin-top: 5px; margin-bottom: 5px;">
          <input type="button" value="cancel" @click="clearForm" style="margin-top: 5px;">
        </div>
      </form>

      <br><br>
      <table border="1">
        <tr v-for="member of members">
          <td>
            <img width="100" :src="member.photo_profile ? photo + member.photo_profile : '' ">
          </td>
         <td>
            <b>Name :</b> {{member.name}} <br>
            <b>Addrress :</b>{{member.address}} <br>
            <b>No Hp: </b>{{member.no_hp}}<br>
        </td>
        <td>
          <button @click="editData(member)">Edit</button>
          <button @click="removeData(member.id)">Hapus</button>
          <button @click="uploadPhoto(member)">Upload Foto</button>
        </td>
        </tr>
      </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
      const vm = new Vue({
        el: '#app',
        data: {
          name : '',
          address: '',
          no_hp: '',
          photo_profile: '',
          members: [],
          errors: [],
          photo: 'http://demo-api-vue.sanbercloud.com/',
          buttonStatus: 'submit',
          idUpdate: null,
          idUpload: null,
        },
        methods: {
          validationForm: function() {
            this.errors = [];

            if (!this.name) {
              this.errors.push('Name required');
              this.$refs.name.focus();
            }

            if (!this.address) {
              this.errors.push('address required');
              this.$refs.address.focus();
            }
            if (!this.no_hp) {
              this.errors.push('No hp required');
              this.$refs.no_hp.focus();
            }
          },
          clearForm: function() {
            this.name = '',
            this.address ='',
            this.no_hp ='',
            this.idUpdate = null,
            this.idUpload = null,
            this.buttonStatus ='submit'
          },
          submitForm: function () {
            this.validationForm()

            if (this.errors.length === 0) {
              
              let formData = new FormData()
              formData.append('name', this.name)
              formData.append('address', this.address)
              formData.append('no_hp', this.no_hp)
              
              const config = {
                method : "post",
                url: 'http://demo-api-vue.sanbercloud.com/api/member',
                data: formData
              }

              axios(config)
                .then( (response) => {
                  this.clearForm()
                  this.getData()
                  alert(response.data.message);
                
               
                })
                .catch( (error)=> {
                  
                })
            }
          },
          getData : function() {
            const config = {
              method : "get",
              url: 'http://demo-api-vue.sanbercloud.com/api/member'
            }

            axios(config)
              .then( (response) => {
              this.members = response.data.members
              console.log(response.data.members)
              })
              .catch( (error)=> {
                console.log(error)
              })
          },
          removeData: function(id) {
            const config = {
              method: "post",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
              params : {_method: "DELETE"}
            }

            axios(config)
              .then( (response) => {
                this.getData()
                alert(response.data.message);
              })
              .catch( (error) => {
                console.log(error)
              })
          },
          editData:function (member) {
            this.name = member.name
            this.address = member.address
            this.no_hp = member.no_hp

            this.buttonStatus = 'update'
            this.idUpdate = member.id
          },
          updateData: function(id){
            this.validationForm()

            if(this.errors.length ===0){
              let formData = new FormData()
              formData.append('name', this.name)
              formData.append('address', this.address)
              formData.append('no_hp', this.no_hp)

              const config = {
                method: 'post',
                url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                params: {_method: 'PUT'},
                data: formData
              }

              axios(config)
                .then((response) => {
                  this.clearForm()
                  this.getData()

                  alert(response.data.message)
                })
                .catch((error) => {
                  console.log(error);
                })
            }
          },
          uploadPhoto: function(member) {
            this.name = member.name
            this.address = member.address
            this.no_hp = member.no_hp

            this.buttonStatus = 'upload'
            this.idUpload = member.id
          },
          submitPhoto: function(id){
            let file = this.$refs.photo_profile.files[0]

            let formData = new FormData()
            formData.append('photo_profile', file)

            const config = {
              method: 'post',
              url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
              data: formData
            }

            axios(config)
                .then((response) => {
                  this.clearForm()
                  this.getData()

                  alert(response.data.message)
                })
                .catch((error) => {
                  console.log(error);
                })
          }
        },
        created() {
            this.getData()
          }
      });
    </script>
  </body>
</html>
