<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <form v-on:submit.prevent="add">
        <input v-model="newUser" />
        <button>Add</button>
      </form>

      <user-item v-bind:data="users" v-on:remove="remove">
      </user-item>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script>
      Vue.component('user-item', {
        props: ['data'],
        template: `
        <div>
          <ul>
            <li v-for="(item, index) of data">
              {{ item.name }}
              <button >Edit</button> ||
              <button v-on:click="$emit('remove', index)">Delete</button>
            </li>
          </ul>
        </div>
          `,
      });
      const vm = new Vue({
        el: '#app',
        data: {
          newUser: '',
          users: [
            {
              name: 'Muhammad Iqbal Mubarok',
            },
            {
              name: 'Ruby Purwanti',
            },
            {
              name: 'Faqih Muhammad',
            },
          ],
        },
        methods: {
          add: function () {
            this.users.push({
              name: this.newUser,
            });
            this.newUser = '';
          },
          remove: function (index) {
            if (confirm('Anda yakin?')) {
              this.users.splice(index, 1);
            }
          },
        },
      });
    </script>
  </body>
</html>
