<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input
        type="text"
        v-model="search"
        placeholder="Ketikan kata kunci"
      />

      <ul v-for="item in result">
        <li>{{item}}</li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      const vm = new Vue({
        el: '#app',
        data() {
          return {
            search: null,
            books: [
              'Kalkulus',
              'Aljabar linear',
              'Aljabar Abstrak',
              'Algoritma',
            ],
          };
        },
        computed: {
          result() {
            if (this.search) {
              return this.books.filter((item) => {
                return this.search
                  .toLowerCase()
                  .split(' ')
                  .every((v) => item.toLowerCase().includes(v));
              });
            } else {
              return this.books;
            }
          },
        },
      });
    </script>
  </body>
</html>
